<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ApplicationCustomLog" type="LogUtils.ApplicationLogSection, LogUtils"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <ApplicationCustomLog writeLog ="true">
    <logFileLocation location="C:\\Pratik\\Fall 2016\\CourseMaterial\\CS520\\Code\\CS520IntroToOS\\BusTerminal\\BusTerminal" fileName="LogFile" extension="txt"></logFileLocation>
    <appendToFile appendLine="true"></appendToFile>
    <maxFileSize size="5"></maxFileSize>
    <debugLevel level="INFO"></debugLevel>
  </ApplicationCustomLog>
</configuration>